
@{
    Layout = "~/Views/Shared/_LayoutRoot.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                @Html.Partial("_LeftSideBar")
            </div>
            <div class="col-sm-9">

                <div class="response-area">
                    <h2>Công Dụng</h2>
                    <ul class="media-list">
                        <li class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="~/Content/Images/feature/features.jpg" alt=""/>
                            </a>
                            <div class="media-body">
                                <ul class="sinlge-post-meta">
                                    <li><i class="fa fa-lemon-o"></i>Bơ 1</li>
                                    <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
                                    <li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
                                </ul>
                                <p>In placerat tortor sit amet felis pretium iaculis. Fusce suscipit dictum tellus, nec tincidunt eros pulvinar eget. Curabitur maximus elementum condimentum. Praesent a suscipit est. Curabitur nec facilisis lectus, eu commodo sapien. Aliquam vitae libero non ipsum tristique cursus...</p>
                                <a class="btn btn-primary" href="~/Feature/Detail">Chi tiết ...</a>
                            </div>
                        </li>
                        <li class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="~/Content/Images/feature/features.jpg" alt="">
                            </a>
                            <div class="media-body">
                                <ul class="sinlge-post-meta">
                                    <li><i class="fa fa-lemon-o"></i>Bơ 2</li>
                                    <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
                                    <li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
                                </ul>
                                <p>
                                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin condimentum lectus id diam molestie mollis quis eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis faucibus, enim ut placerat facilisis, erat est aliquam neque, vulputate venenatis est nunc eget lorem...
                                </p>
                                <a class="btn btn-primary" href="~/Feature/Detail">Chi tiết ...</a>
                            </div>
                        </li>
                        <li class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="~/Content/Images/feature/features.jpg" alt="">
                            </a>
                            <div class="media-body">
                                <ul class="sinlge-post-meta">
                                    <li><i class="fa fa-lemon-o"></i>Bơ 3</li>
                                    <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
                                    <li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
                                </ul>
                                <p>
                                    Proin vel sapien orci. Donec nec tempus neque. Vestibulum id consequat sem. Praesent ultrices tellus convallis leo dictum suscipit. Maecenas orci eros, finibus a ante non, facilisis tristique dui. Quisque et accumsan arcu. Praesent sed dui at est dictum luctus. Fusce non turpis commodo, rhoncus quam ac, scelerisque lectus. Praesent interdum vitae leo gravida efficitur. Sed cursus velit in lectus viverra, eget laoreet felis fermentum. Proin justo dui, sollicitudin sed vestibulum ac, sodales sit amet mi. Phasellus malesuada congue euismod...
                                </p>
                                <a class="btn btn-primary" href="~/Feature/Detail">Chi tiết ...</a>
                            </div>
                        </li>
                        <li class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="~/Content/Images/feature/features.jpg" alt="">
                            </a>
                            <div class="media-body">
                                <ul class="sinlge-post-meta">
                                    <li><i class="fa fa-lemon-o"></i>Bơ 4</li>
                                    <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
                                    <li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
                                </ul>
                                <p>Cras condimentum, libero a aliquet aliquet, tellus augue feugiat nunc, vitae malesuada urna odio a lectus. Morbi risus magna, varius non lectus a, dictum condimentum leo. Donec arcu leo, pretium non laoreet nec, tincidunt id mi. Nunc ut bibendum magna. Proin tristique tortor augue, condimentum gravida magna accumsan eu...</p>
                                <a class="btn btn-primary" href="~/Feature/Detail">Chi tiết ...</a>
                            </div>
                        </li>
                        <li class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="~/Content/Images/feature/features.jpg" alt="">
                            </a>
                            <div class="media-body">
                                <ul class="sinlge-post-meta">
                                    <li><i class="fa fa-lemon-o"></i>Bơ 5</li>
                                    <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
                                    <li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
                                </ul>
                                <p>Cras elementum diam nisl, vitae tincidunt leo blandit vel. Pellentesque finibus mi non felis egestas, at pretium est faucibus. Cras pretium dui sodales quam auctor feugiat. Pellentesque sed eros laoreet, mollis nunc id, commodo sem. Sed ornare mattis erat vel pharetra. Ut vitae efficitur nisi. Cras sit amet suscipit dolor, et congue dolor...</p>
                                <a class="btn btn-primary" href="~/Feature/Detail">Chi tiết ...</a>
                            </div>
                        </li>
                    </ul>
                </div><!--/Response-area-->

                <div class="pager-area">
                    <ul class="pager pull-right">
                        <li><a href="#">Pre</a></li>
                        <li><a href="" class="active">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

