
@{
    Layout = "~/Views/Shared/_LayoutRoot.cshtml";
}

<div ng-app="appHashFruit" ng-controller="HomeController">
    <section id="slider">
        <!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="1"></li>
                            <li data-target="#slider-carousel" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-6">
                                    <h1><span>Fruit</span>-Shop</h1>
                                    <h2>Mua Hàng Online Tiện Lợi</h2>
                                    <p>
                                        Cửa hàng chúng tôi chuyên cung cấp các dịch vụ nhanh chóng, tiện lợi,
                                        phục vụ hết mình với mục tiêu lấy câu "khách hàng là thượng đế" làm đầu.
                                    </p>
                                    <button type="button" class="btn btn-default get">Click ngay</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/Content/Images/home/girl1.jpg" class="girl img-responsive" alt="" />
                                    <img src="~/Content/Images/home/pricing.png" class="pricing" alt="" />
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-6">
                                    <h1><span>Fruit</span>-Shop</h1>
                                    <h2>Mua Hàng Online Tiện Lợi</h2>
                                    <p>
                                        Aenean in condimentum elit, id elementum augue. Mauris id molestie turpis. Nullam vestibulum lorem nec congue finibus. Sed nec tempor purus, eget volutpat orci.
                                    </p>
                                    <button type="button" class="btn btn-default get">Get it now</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/Content/Images/home/girl2.jpg" class="girl img-responsive" alt="" />
                                    <img src="~/Content/Images/home/pricing.png" class="pricing" alt="" />
                                </div>
                            </div>

                            <div class="item">
                                <div class="col-sm-6">
                                    <h1><span>Fruit</span>-Shop</h1>
                                    <h2>Mua Hàng Online Tiện Lợi</h2>
                                    <p>
                                        Pellentesque mauris ante, congue at est quis, finibus tempus elit. Proin neque lorem, tempor et enim et, dapibus laoreet tortor. In malesuada feugiat orci.
                                    </p>
                                    <button type="button" class="btn btn-default get">Get it now</button>
                                </div>
                                <div class="col-sm-6">
                                    <img src="~/Content/Images/home/girl3.jpg" class="girl img-responsive" alt="" />
                                    <img src="~/Content/Images/home/pricing.png" class="pricing" alt="" />
                                </div>
                            </div>

                        </div>

                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section><!--/slider-->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    @Html.Partial("_LeftSideBar")
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="features_items">
                        <!--features_items-->
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="~/Product/Detail"><img src="~/Content/Images/home/product1.jpg" alt="" /></a>
                                        <h2>20.000 vnd</h2>
                                        <p>Bơ thái nguyên</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="~/Product/Detail"><img src="~/Content/Images/home/product1.jpg" alt="" /></a>
                                        <h2>20.000 vnd</h2>
                                        <a href="product-details.html"> <p>Bơ thái nguyên</p> </a>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="~/Product/Detail"><img src="~/Content/Images/home/product1.jpg" alt="" /></a>
                                        <h2>20.000 vnd</h2>
                                        <a href="product-details.html"> <p>Bơ thái nguyên</p> </a>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="~/Product/Detail"><img src="~/Content/Images/home/product1.jpg" alt="" /></a>
                                        <h2>20.000 vnd</h2>
                                        <a href="product-details.html"> <p>Bơ thái nguyên</p> </a>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="~/Product/Detail"><img src="~/Content/Images/home/product1.jpg" alt="" /></a>
                                        <h2>20.000 vnd</h2>
                                        <a href="product-details.html"> <p>Bơ thái nguyên</p> </a>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="~/Product/Detail"><img src="~/Content/Images/home/product1.jpg" alt="" /></a>
                                        <h2>20.000 vnd</h2>
                                        <a href="product-details.html"> <p>Bơ thái nguyên</p> </a>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="~/Product/Detail"><img src="~/Content/Images/home/product1.jpg" alt="" /></a>
                                        <h2>20.000 vnd</h2>
                                        <a href="product-details.html"> <p>Bơ thái nguyên</p> </a>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="~/Product/Detail"><img src="~/Content/Images/home/product1.jpg" alt="" /></a>
                                        <h2>20.000 vnd</h2>
                                        <a href="product-details.html"> <p>Bơ thái nguyên</p> </a>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a href="~/Product/Detail"><img src="~/Content/Images/home/product1.jpg" alt="" /></a>
                                        <h2>20.000 vnd</h2>
                                        <a href="product-details.html"> <p>Bơ thái nguyên</p> </a>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="~/Scripts/myweb/home.js"></script>