<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="companyinfo">
                <h2><span>fruit</span>-shop</h2>
                <p>235 Kha Vạn Cân, Thủ Đức, TP.HCM</p>
                <p>0989 999 999 – 0932 999 999</p>
            </div>
        </div>
        <div class="col-sm-6">
        </div>
        <div class="col-sm-3">
            <div class="address">
                <img src="~/Content/Images/map.png" alt="map"/>
                <p>235 Kha Vạn Cân, Thủ Đức, TP.HCM</p>
            </div>
        </div>
    </div>
</div>